* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.box {
    position: relative;
    top: 30px;
}

section.banner {
    padding: 290px 0;
    position: relative;
    min-height: 400px;
    background-image: url(../images/backup.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

section.banner > .container {
    position: relative;
    z-index: 2;
}

.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.1);
}

section.Zed {
    padding: 40px;
    width: 100%;
    
}

section.Zed h2 {
    color: #4b4b4b;
    margin-bottom: 20px;
}

section.Zed p {
    color: #4b4b4b;
}

section.Zed blockquote {
    color: #4b4b4b;
    font-size: 16px;

}

footer {
    background-color: #000058;
    width: 100%;
    height: 40px;
}

footer > p {
    color: white;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 630px) {
    section.banner {
        padding: 270px 0;
        position: relative;
        min-height: 400px;
        background-image: url(../images/backup.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (max-width: 530px) {
    section.banner {
        padding: 200px 0;
        position: relative;
        min-height: 400px;
        background-image: url(../images/backup.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (max-width: 400px) {
    section.banner {
        padding: 150px 0;
        position: relative;
        min-height: 350px;
        background-image: url(../images/backup.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (max-width: 330px) {
    section.banner {
        padding: 50px 0;
        position: relative;
        min-height: 300px;
        background-image: url(../images/backup.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (max-width: 230px ){
    section.banner {
        padding: 0px 0;
        position: relative;
        min-height: 250px;
        background-image: url(../images/backup.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (max-width: 950px) {
    .yasuo {
        padding: 30px;
    }
}

@media screen and (max-width: 450px) {
    footer {
        width: 100%;
        height: 60px;
    }
}

@media screen and (max-width: 230px) {
    footer {
        width: 100%;
        height: 100px;
    }
}